<html>
    <head>
        <title>Zeynep'in Muhteşör Blogu</title>
    </head>
    <body>
        <div>
            <h1><a href="/">Minnak Tüylü Hayvanlar</a></h1>
        </div>
        <div>
            <p>26.10.2020, 13.40</p>
            <h2><a href="">Kediler</a></h2>
            <p> Kaan Boşnak'ın da dediği gibi "Çatılardan düşmekte kediler,kediler,kediler. O mesafe öldürmez dediler,dediler,dediler.. </p>
        </div>

        <div>
            <p>26.10.2020, 13.45 </p>
            <h2><a href="">Köpekler</a></h2>
            <p> Köpek insanıyım ben.En sevdiğim cinsi de Samoyeed'dir ufak, beyaz, tüy yumağı bi kurt köpeğidir kısaca..</p>
        </div>
    </body>
</html>